* {
    box-sizing: border-box;
}

body {
    background-color: #0A79A4;
    color: #FFFFFF;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.4545;
    margin: 0;
    --horizontal-padding: 1.25rem;
    --max-width-horizontal-padding: calc(67rem + 2 * var(--horizontal-padding));
}

@media (min-width:800px) {
    body {
        --horizontal-padding: 4rem;
    }

}

a {
    color: burlywood;

}

a:hover,
a:focus {
    color: #854700;
    outline: none;
    text-decoration: underline;
}

img {
    margin-bottom: 0.75rem;
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: clamp(4rem, 3.0417rem + 4.2593vw, 6.875rem);
    font-weight: 400;
    line-height: 1.125;
    margin: 0;
}

h2 {
    font-size: clamp(3rem, 2.6667rem + 1.4815vw, 4rem);
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: clamp(2.25rem, 2.2083rem + 0.1852vw, 2.375rem);
    font-weight: 500;
    color: burlywood;
    margin-bottom: 1.5rem;
    margin-top: 2.25rem;
}

ul {
    list-style-type: "— ";
    padding-left: 1.375rem;
    margin: 0;
    margin-bottom: 1rem;
}

header {
    max-width: var(--max-width-horizontal-padding);
    margin-left: auto;
    margin-right: auto;
}

header,
nav,
nav a {
    color: #114E6A;
}

header p {
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    color: #0E3C52;
    max-width: 466px;
    margin: 0;
}

header,
nav {
    padding: 1.25rem calc(var(--horizontal-padding) - 0.5rem);

}

nav {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 6rem;
    padding: 0;
}

@media (min-width:1024px) {
    nav {
        justify-content: flex-end;
        --horizontal-padding: 1.75rem;
    }
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
}

nav li {
    display: inline-block;


}

nav ul {
    padding-top: 0.6875rem;
    padding-left: calc(var(--horizontal-padding) - 0.5rem);
    padding-right: calc(var(--horizontal-padding) - 0.5rem);
    padding-bottom: 1rem;
    margin: 0;
}

section {
    padding-top: 1rem;
    margin-bottom: 3rem;
}

section> :last-child {
    margin-bottom: 0;

}

figure {
    margin: 0;

}

figure img {
    margin-bottom: 2.25rem;
}

article {
    margin-bottom: 2.25rem;
}

article:last-of-type {
    margin-bottom: 1rem;
}

footer {
    padding-top: 1rem;
}

footer img {
    max-width: 11.625rem;
    max-height: 11.625rem;
}

.overheading {
    color: #CCF1FF;
    font-size: clamp(1rem, 0.8750rem + 0.5556vw, 1.375rem);
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.375em;
    text-transform: uppercase;
    border-left: 2px solid #CCF1FF;
    padding-left: 1rem;
}

@media (min-width: 800px) {
    .overheading {
        border: none;
        display: flex;
        column-gap: 1rem;
        padding: 0;
        max-width: 100%;
    }
}

@media (min-width: 800px) {
    .overheading::before {
        content: '';
        background-color: #CCF1FF;
        flex-basis: 72px;
        height: 2px;
        flex-shrink: 0;
        margin-top: clamp(1rem - 1px, 0.875rem + 0.5556vw - 1px, 1.375rem - 1px);
    }

    header .overheading::before {
        background-color: #114E6A;
    }
}

header .overheading {
    color: #114E6A;
    border-left-color: #114E6A;
}

.contacts-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
}

.contacts,
.contacts p {
    flex-basis: 20rem;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 30rem;
    margin: 0;
}

.frontend {
    max-width: 30rem;
    min-height: 23rem;

}

.container {
    background-image: url(header-bg.png),
        linear-gradient(180deg, #e7bfb8 10%, #e2c1c2 21%, #e5cacc 26%, #dcb0a3 36%, #dbafa3 44%, #d4a085 47%, #b9907e 58%, #bd9f9c 64%, #9d999e 74%, #7d8b9d 76%, #7a8a9d 76%, #317b9e 78%, #17789f 79%, #1378a0 83%, #0a79a4);
    background-repeat: no-repeat;
    background-size: 1440px, 1440px 900px;
    background-position: center -260px, 0 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.gradient {
    background-image: linear-gradient(180deg, rgb(1 112 175 / 0%) 10%, #003F63 100%);
    background-repeat: no-repeat;
    padding: 1.25rem var(--horizontal-padding);
    max-width: var(--max-width-horizontal-padding);
    margin-left: auto;
    margin-right: auto;
}

.technologies {
    max-width: var(--max-width-horizontal-padding);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 1.25rem var(--horizontal-padding);
}

.width {
    max-width: var(--max-width-horizontal-padding);
    margin-left: auto;
    margin-right: auto;
}

.img-project {
    flex-basis: 59%;
    flex-grow: 1;
}

figure {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
}

figure img {
    object-fit: cover;
    height: 320px;
    margin-bottom: 2.25rem;
    display: block;
}
@media (min-width: 948px) {
    figure img {
        height: 340px;
    }
}
.projectBeta {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

figcaption {
    flex-basis: 18rem;
    flex-grow: 1;
    max-width: 48ch;
}

.personal,
.work-calc {
    object-position: 0;
}

.cozy {
    object-position: 8%;
}
